{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 class="p-3 text-center bg-primary text-white">Create new Category</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}" class="m-4 btn btn-primary" role="button">back to list</a>
{% endblock %}
