{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1 class="p-3 text-center bg-primary text-white">Create new Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('article_index') }}" class="m-4 btn btn-primary" role="button">back to list</a>
{% endblock %}
